body{
	background-color:#ff55;
}
.container{
	width:320px;
	margin: 10% auto;
	border: 20px solid black;
	padding:12px;
}
.clear{
	clear:both;
}
.black{
	width:40px;
	height:40px;
	float:left;
	background-color:black;
}
.white{
	width:40px;
	height:40px;
	float:left;
	background-color:white;
}